<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:util="http://www.springframework.org/schema/util"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util-3.1.xsd">
	<context:component-scan base-package="framework.web.util.*" />
 	<!-- config properties -->
    <context:property-placeholder properties-ref="config" />
    <util:properties id="config" location="classpath:config-properties.xml" scope="singleton" />
    <!-- <util:properties id="config" location="classpath:config-properties-oracle.xml" scope="singleton" /> -->

    <!-- mysql 접속 설정 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="#{config['db.driver']}"/>
		<property name="url" value="#{config['db.url']}"/>
		<property name="username" value="#{config['db.id']}"/>
		<property name="password" value="#{config['db.passwd']}"/>
		<property name="maxActive" value="#{config['db.maxactive']}"/>
		<property name="maxIdle" value="#{config['db.maxidle']}"/>
		<property name="maxWait" value="#{config['db.maxwait']}"/>
		<property name="defaultAutoCommit" value="#{config['db.autocommit']}"/>
	</bean>

	<!--  set for mybatis Database Layer -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	  	<property name="dataSource" 	ref="dataSource" />
		<property name="mapperLocations">
			<array>
				<value>classpath*:mybatis/mapper/common/mysql/**/*.xml</value>
				<value>classpath*:mybatis/mapper/admin/mysql/**/*.xml</value>
				<value>classpath*:mybatis/mapper/custom/#{config['site.shortName']?:'cloud'}/**/*.xml</value>
			</array>
		</property>
        <!-- <property name="mapperLocations" value="classpath*:mybatis/admin/mapper/oracle/**/*.xml" /> -->
		<property name="configLocation" value="classpath:mybatis/mybatis-config.xml" />
	</bean>
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory" />
	</bean>

	<!--  Transaction -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- mysql auth 접속 설정 -->
	<bean id="dataSource2" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="#{config['db.auth.driver']}"/>
		<property name="url" value="#{config['db.auth.url']}"/>
		<property name="username" value="#{config['db.auth.id']}"/>
		<property name="password" value="#{config['db.auth.passwd']}"/>
		<property name="maxActive" value="#{config['db.auth.maxactive']}"/>
		<property name="maxIdle" value="#{config['db.auth.maxidle']}"/>
		<property name="maxWait" value="#{config['db.auth.maxwait']}"/>
		<property name="defaultAutoCommit" value="#{config['db.auth.autocommit']}"/>
	</bean>

	<!--  set for mybatis Database Layer -->
	<bean id="sqlSessionFactory2" class="org.mybatis.spring.SqlSessionFactoryBean">
	  	<property name="dataSource" ref="dataSource2" />
	  	<property name="mapperLocations" value="classpath*:mybatis/mapper2/auth/AuthPackage.xml" />
	  	<property name="configLocation" value="/WEB-INF/mybatis-config2.xml" />
	</bean>
	<bean id="sqlSessionTemplate2" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory2" />
	</bean>

	<!--  Transaction -->
	<bean id="transactionManager2" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource2" />
    </bean>

	<!-- 리턴값이 text일 경우 UTF-8형태를 갖추게 함 -->
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
	    <property name="messageConverters">
	        <list>
	            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
	                <property name="supportedMediaTypes">
	                    <list>
	                        <value>text/plain;charset=UTF-8</value>
	                    </list>
	                </property>
	            </bean>
	        </list>
	    </property>
	</bean>

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="#{config['mail.host']}" />
		<property name="port" value="#{config['mail.port']}" />
		<property name="username" value="#{config['mail.username']}" />
		<property name="password" value="#{config['mail.password']}" />
		<property name="javaMailProperties">
		   <props>
	       	      <prop key="mail.smtp.auth">true</prop>
	       	      <prop key="mail.smtp.starttls.enable">true</prop>
	       	   </props>
		</property>
		<property name="defaultEncoding" value="#{config['mail.charset']}"/>
	</bean>
</beans>